.form-item.form-item-password-fieldset {
  margin-bottom: 0;
}

#edit-password-text {
  display: none;
}

.form-item.form-item-pass {
  display: inline;
  margin-bottom: 0;
  margin-top: 0;
}

.form-item.form-item-password-text {
  display: inline;
  margin-bottom: 0;
  margin-top: 0;
}

a#edit-forgot-password-link {
  margin-left: 30px;
}

form#user-login #edit-password-fieldset .form-item-password-fieldset label.option {
  font-weight: normal;
}

form#user-login {
  margin-top: 40px;
}

form#user-register-form {
  margin-top: 40px;
}

form#user-pass {
  margin-top: 40px;
}
